.nav {
    height: 600px;
    grid-area: n;
    background: lightgreen;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.nav .item:last-child {
    margin-top: auto;
}
.nav .item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.3s;
    color: #000;
}
.nav .item a.active,
.nav .item a:hover {
    color: blueviolet;
}
